body{
    background-color: rgb(137, 80, 27);
}

.header-1{
    color: gold;
    font-family: "Papyrus","Copperplate","Times New Roman";
    text-align: center;
    font-size: 50px;
}

.drink_discription{
    display: block;
    color: gold;
    font-family: "Papyrus","Copperplate","Times New Roman";
    font-size: 20px;
    padding: 10px;
}

h2{
    display: block;
    color: gold;
    font-family: "Papyrus","Copperplate","Times New Roman";
    padding: 10px;
    font-size: 40px;
}

div,.ingredients.fuzzy_navel_image{
    display: flex;
    justify-content: center;
    color: gold;
    font-family: "Papyrus","Copperplate","Times New Roman";
}

.fuzzy_navel_image{
    padding-left: 100px;
}

.ingredients_header{
    text-align: center;
}

.steps{
    display:block;
    float:left;
}