.header-1{
    color: gold;
    font-family: "Papyrus","Copperplate","Times New Roman";
    text-align: center;
    font-size: 50px;
}

.header_photos{
    display:flex;
    justify-content: center;
}

.bar_tender{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

div{
    block-size: auto;
   text-align: center;
}

a{
    display: block;
    color: gold;
    font-family: "Papyrus","Copperplate","Times New Roman";
    font-size: 20px;
    padding: 10px;
}
